**/__pycache__/
.env
.env.test
private-refresh.pem
private.pem
public.pem
alembic.ini

static/images/user/*
static/images/md_partner/*
static/images/md_platform/*
static/images/md_client/*
static/images/md_position/*
static/images/md_project/logo/*
static/images/md_project/image/*
static/images/reimbursement/image/*
data/templates/excel/*


seed_data_test.xlsx
